<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Blog chat | <%= title %></title>
    <form action="/payment" method="GET">
      <input type="submit" value="Donate" style="border-radius: 5px; color: brown; cursor: pointer;">
    </form>
    <form action="/feedback" method="GET">
      <input type="submit" value="Please give your suggestions" style="border-radius: 5px; color: brown; cursor: pointer;">
    </form>
  </head>