<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/paymentForm.css">
</head>
<body>
    <div class="form-container">
        <form action="/payment" method="post" class="form-group">
            <label for="lname">Donation amount please in INR</label><br>
            <input type="text" id="lname" name="lname" value="100"><br><br>
            <input type="submit" value="submit" class="submit-btn">
          </form>
    </div>
    <div>
        This feature is still in test mode
    </div>
</body>
</html>