<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2><%= title %></h2>
    <p>This ia a blog Website created as a fullstack Development Project, and it makes use of Node.JS, MongoDB, and Express.JS.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>