body{
    font-family: 'Nunito';
    background-color: aqua;
}
#parent {
    width: 100%;
    height: 97vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h2{
    text-align: center;
    font-size: 30px;
    color: rgb(14, 6, 6);
}
#mario-chat{
    width: 49%;
    background-color: rgb(193, 177, 238);
    border: 1px solid #b27676;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 15px;
}
#leafletmap{
    width: 49%;
    background-color: rgb(228, 223, 241);
    border: 1px solid #b27676;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 15px;
}
#chat-window{
    height: 450px;
    overflow: auto;
    background: #d9bdbd;
}
#handle{
    border-width: 2px;
    border-color: black;
}
#message{
    border-width: 2px;
    border-color: black;
}
#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 2px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 18px;
}

button{
    background: #575ed8;
    color: #f95f5f;
    font-size: 13px;
    border: 5;
    padding: 12px 0;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    margin-top: 1ch;
    transition: 1s;
}
button:hover{
    cursor: pointer;
    background-color: #dafd65;
}